:root {
    --mainBlack: #2F2F2F; /* Anthracite */
    --mainTeal: #07a9a9;
    --mainGreen: #228B22;
    --mainBrown: #8B4513;

}

html, body, #root {
    height: 100%
}


body {
    font-family: 'Montserrat', sans-serif !important;
    background:  var(--mainBlack) !important;
    color: white !important;

}

.text-title {
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
}

.text-blue {
    color: var(--mainTeal);
}

.text-bright {
    color: var(--mainGreen);
}

.bg-brown {
    background: #8B4513;
}

.BeaglesCov {
    width: 100%;
    background-size: contain;
}

.intro-text {
    position: absolute;
    top: 10px;
}

.main-text {
    color: var(--mainBlack);
    font-weight: 600;
}
